/* Body Styles */
body {
    background-color: #f0f0f0; /* Choose your desired background color */
    margin: 0; /* Reset default body margin */
    padding: 0; /* Reset default body padding */
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3f85ab; /* Solid background color */
    color: #fff;
    padding: 10px;
    margin: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

nav {
    padding: 10px 80px; /* Add padding to space out the navigation items */
    font-size: large;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0 5px; /* Adjust spacing between navigation items */
}

nav a {
    color: #fff; /* Color of the navigation links */
    text-decoration: none;
}

/* Separator Styles */
nav li:not(:last-child)::after {
    content: "";
    display: inline-block;
    width: 2px; /* Width of the separator line */
    height: 10px; /* Height of the separator line */
    background-color: #fff; /* Color of the separator line */
    margin-left: 10px; /* Adjust spacing between separator line and navigation items */
}

.logo img {
    height: 40px;
}

main {
    padding: 45px 20px;
    margin: 0 auto;
}

.section {
    padding-top: 45px;
    text-align: center;
    max-width: 90%; /* Set maximum width for sections */
    margin: 0 auto; /* Center align sections */
}

.section p {
    margin: 2px px;
    line-height: 1.2;
    font-size: 18px; /* Increase font size for About Me section */
    text-align: left; /* Align text to the left */
}

.section h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
    position: relative;
}

.section h2 span {
    width: 42%;
    border-bottom:4px solid #ccc;
    display: inline-block;
    margin-bottom:5px;
}


/* Photo Gallery Styles */
.photo-gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.photo-gallery img {
    max-width: 300px;
    margin: 10px;
}

/* Form Styles */
#contact-form {
    max-width: 400px;
    margin: 0 auto;
    text-align: left;
}

#contact-form label {
    display: block;
    margin-bottom: 5px;
}

#contact-form input,
#contact-form textarea,
#contact-form select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

#contact-form button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
	display: block;
	margin: 0 auto;
}


/* Adjust QR Code Image */
#qrcoder img {
    max-width: 15%;
}
.qa {
    max-width: 90%;
    margin: 0 auto;
    text-align: left;
	font-size: 18px;
}

.qa ul li{
	margin-bottom: 1%;
}

.qa p{
	margin: 0px 40px;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
