/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.section {
    padding: 50px;
    text-align: center;
}

/* Navbar Styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

.logo img {
    height: 40px;
}


/* Menu Styles */
#menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: none;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

#menu li {
    margin: 0 10px;
}

#menu a {
    color: #fff;
    text-decoration: none;
}

/* Photo Gallery Styles */
.photo-gallery {
    display: flex;
    justify-content: center;
}

.photo-gallery img {
    max-width: 300px;
    margin: 10px;
}

/* Form Styles */
#contact-form {
    max-width: 400px;
    margin: 0 auto;
    text-align: left;
}

#contact-form label {
    display: block;
    margin-bottom: 5px;
}

#contact-form input,
#contact-form textarea,
#contact-form select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

#contact-form button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}